input[type="button"] {
	width: 100px;
	height: 100px;
	border-radius: 24%;
	border: none;
	background-color: #0079BF;
	cursor: pointer;
	color: #ddd;
	font-size: 18px;
}

input[type="button"]:focus {
    outline: none;
}

.dot {
	width: 10px;
	height: 10px;
	background: #EA3328;
	border: 1px solid #555;
	border-radius: 50%;
	position: absolute;
	bottom: 0%;
}

.exerciseItem {
	display: inline-block;
	margin-left: 8rem;
	vertical-align: middle;
}

.exerciseRow {
	margin: 90px;
}

#colorCircle {
	border-radius: 50%;
	background: rgb(255,255,255);
	width: 100px;
	height: 100px;
	border: 2px solid;
	vertical-align: bottom;
}

#compoundInvestment {
	font-size: 36px;
	margin-left: 8rem;
}

#dotsContainer {
	position: relative;
	height: 50px;
	display: inline-block;
}

#userList {
	line-height: 28px;
}