
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@define-mixin gridify $col, $width, $gutter: 2 {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                width: calc((100 / $col) - $gutter)%;
            }
            @mixin-content;
        }
    }
}

@mixin gridify 2, 400 {}
@mixin gridify 4, 600 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */
